* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
    background-image: url(Temp.jpg);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.title {
    color: #222;
    font-size: 1.5rem;
    text-align: center;
}

.temperature-converter {
    background: #f3f4f3;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 25px 20px;
    min-width: 320px;
    width: 100%;
    height: auto;
}

.result {
    text-align: center;
    margin: 20px;

}

.result-heading {
    color: rgb(33, 31, 1);
    font-size: 1rem;
    font-weight: 600;
}

.fahrenheit-value {
    border-bottom: 2px solid rgb(36, 3, 3);
    padding: 10px;
}
.kelvin-value {
    border-bottom: 2px solid rgb(36, 3, 3);
    padding: 10px;
}
.celsius-value {
    border-bottom: 2px solid rgb(36, 3, 3);
    padding: 10px;
}

label {
    color: rgb(17, 12, 12);
    font-size: 0.8rem;
    margin-bottom: 5px;
}

input,
select {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(36, 3, 3);
    padding: 8px;
    margin-bottom: 15px;
}

input:focus {
    border: 1px solid #000000;
}

.degree-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.degree-field {
    display: flex;
    flex-direction: column;
    width: 46%;
}

option {
    background-color: #713636;
    color: #f6f6f6;
}

#convert-btn {
    background: linear-gradient(to bottom, #6560c4, #622929);
    border: none;
    outline: none;
    border-radius: 5px;
    color: #f6f6f6;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 12px 80px;
    transition: all 0.3s ease-in;
}

#convert-btn:hover {
    background: linear-gradient(to bottom, #181b1c, rgb(115, 16, 32));
}
